footer{
    background: var(--footerColor);
    color: var(--footerTextColor);
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social-link{
    display: flex;
    color: var(--thirdColor);
    font-size: 21px;
}
footer .social-link .social_icon{
    margin: 10px;
}
